PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/musicapp?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_here


# PORT=5000
# MONGODB_URI=mongodb+srv://adkd_user_database:adkd@adkdcluster.qcsrguv.mongodb.net/musicapp?retryWrites=true&w=majority&appName=ADKDCluster
# JWT_SECRET=c6f497a67f0b54e334df5d9df967d6480e6451e50587d605cbf5d96a7d55f0b1
